* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
}

._bg-item {
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(180deg, #ff56b1 0%, #ffcde5 100%);
	box-shadow: 4px 4px 13px 3px rgba(0, 0, 0, 0.25);
	color: #fff;
}

._bg-block {
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(214, 214, 214, 1), rgba(123, 123, 123, 1));
	padding: 4px;
	border-radius: 39px;
	span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 35px;
		background: radial-gradient(50% 50% at 50% 50%, #272f6d 4.17%, #06092f 100%);
	}
}

._bg-button {
	border-radius: 14px;
	background: linear-gradient(180deg, #9a006f 0%, #dc00b9 100%);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 10px 20px;
}

.main {
	// .main__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;

		min-height: 100vh;
		pointer-events: fill;

		transition: all 0.7s ease 0.3s;

		._game &,
		._shop & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-5px);
			pointer-events: none;
		}
	}

	&__hero {
		position: relative;
		flex: 1 1 auto;
		img {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			@media (max-height: 750px) {
				max-width: 150px;
			}
			@media (max-height: 700px) {
				max-width: 120px;
			}
		}
	}

	&__score-box {
		display: flex;
		justify-content: center;
		column-gap: 5px;

		text-align: center;
		padding-block: 30px 100px;

		font-size: 38px;
		line-height: 1;
		color: #fff;
		@media (max-height: 700px) {
			padding-block: 20px 50px;
		}
	}

	&__buttons-box {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 45px;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
	}

	&__button {
	}
}

//========================================================================================================================================================

//========================================================================================================================================================

.game {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;

	transform: translateX(5px);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	transition: all 0.7s ease 0.3s;

	._game & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		pointer-events: fill;
	}
	// .game__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		width: 100%;
	}

	// .game__field

	&__field {
		flex: 1 1 auto;
	}

	// .game__header

	&__header {
		position: absolute;
		z-index: 6;
		top: 0;
		left: 0;
		width: 100%;
	}

	&__cap {
		position: absolute;
		z-index: 7;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.738);

		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;

		._paused & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.field {
	// .field__body

	&__body {
		position: relative;
		width: 100%;
		height: 100%;

		background-image: url("@img/other/bg.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	// .field__hero

	&__hero {
		position: absolute;
		top: 0;
		left: 25px;

		img {
			max-width: 59px;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 0;
			width: 30px;
			height: 30px;

			background-image: url("@img/other/ball.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&._anim {
			&::before {
				animation: jumpBall 2s ease 0s infinite;
			}
		}
		&._gameOver {
			img {
				transition: all 0.3s ease 0s;
				transform: rotate(-90deg) scale(0) !important;
			}
		}
	}

	&__coin {
		position: absolute;
		top: 0;
		left: 0;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&[data-element="1"] {
			width: calc(84px * 0.7);
			height: calc(156px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-1.png");
			}
		}
		&[data-element="2"] {
			width: calc(84px * 0.7);
			height: calc(131px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-2.png");
			}
		}
		&[data-element="3"] {
			width: calc(84px * 0.7);
			height: calc(140px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-3.png");
			}
		}
		&[data-element="4"] {
			width: calc(84px * 0.7);
			height: calc(114px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-4.png");
			}
		}
		&[data-element="5"] {
			width: calc(84px * 0.7);
			height: calc(133px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-5.png");
				transform: rotateY(180deg);
			}
		}
		&[data-element="6"] {
			width: calc(84px * 0.7);
			height: calc(135px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-6.png");
				transform: rotateY(180deg);
			}
		}
		&[data-element="7"] {
			width: calc(84px * 0.7);
			height: calc(160px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-7.png");
			}
		}
		&[data-element="8"] {
			width: calc(84px * 0.7);
			height: calc(140px * 0.7);

			&::before {
				background-image: url("@img/shop/shop-8.png");
			}
		}
	}
}
.footer-game {
	// .footer-game__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		row-gap: 13px;

		width: 100%;
		// height: 187px;

		background: linear-gradient(180deg, #2f5a00 0%, #1c3500 100%);

		padding: 27px 19px;
	}

	// .footer-game__controls

	&__controls {
		display: flex;
		justify-content: center;
		column-gap: 14px;
	}

	// .footer-game__button

	&__button {
		width: 153.427px;
		height: 67px;

		border-radius: 13.313px;
		border: 4.438px solid #600500;

		box-shadow: 0px 4.4375px 4.4375px 0px rgba(255, 255, 255, 0.25) inset,
			0px -5.54688px 4.4375px 0px rgba(0, 0, 0, 0.25) inset;

		&[data-button="move-down"] {
			background: url("@img/icons/arrow-down.svg") center / 25% no-repeat #e1cd0a;
		}
		&[data-button="move-up"] {
			background: url("@img/icons/arrow-up.svg") center / 25% no-repeat #e1cd0a;
		}
	}

	// .footer-game__button-pause

	&__button-pause {
		position: relative;
		z-index: 8;
		width: 88px;
		height: 53px;

		border-radius: 9px;
		background: url("@img/icons/pause.svg") center / 25% no-repeat #161615;

		margin-left: auto;

		transition: all 0.3s ease 0s;

		._paused & {
			box-shadow: 0 0 10px #fff;
		}
	}
}

//========================================================================================================================================================

.header {
	width: 100%;
	// .header__body

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.slot__header &,
		.game__header & {
			padding: 23px 18px 0;
		}
		.game__header & {
			height: 100%;
			align-items: flex-start;
		}
	}

	// .header__button

	&__button {
	}

	&__score-box {
		display: flex;
		justify-content: center;
		column-gap: 5px;

		text-align: center;

		font-size: 38px;
		line-height: 1;
		color: #fff;
	}

	&__path {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 100%);

		color: #fff;
		font-size: 38px;
		font-style: italic;
		font-weight: 800;
		line-height: normal;
	}

	&__buttons {
	}

	&__time-box {
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);

		color: #fff;
	}
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: #ff2b01;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: #ba0606;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 238, 0);
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes jumpBall {
	0%,
	100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(50px) rotate(90deg);
	}
}
